.Logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  margin-right: 2%;
  border-radius: 5px;
}

.Logo img {
  height: 100%;
}

@media (min-width: 500px) {
  .Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    margin-left: 20%;
    border-radius: 5px;
  }

  .Logo img {
    height: 100%;
  }
}
