.Button {
  background-color: transparent;
  border: none;
  color: red;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 10;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
  border: 1px solid rgb(107, 20, 20);
}
.Success {
  color: #5c9210;
  text-align: center;
}

.Danger {
  color: #944317;
  text-align: center;
}
